.tabs-container {
  width: 100%;
  height: calc(var(--tabs-height) + var(--tabs-active-border-width));
  max-height: calc(var(--tabs-height) + var(--tabs-active-border-width));

  display: flex;
  flex-direction: row;
}

.tab {
  flex: 1;
  height: 100%;
  min-width: 50px;
  max-width: 200px;
  height: calc(var(--tabs-height) - var(--tabs-active-border-width));
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: var(--tabs-active-border-width) solid transparent;
}

.tab span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab-active {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: var(--tabs-active-border-width) solid var(--accent-color);
}

.tab-close-btn {
  visibility: hidden;
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
  margin-right: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  margin-left: 6px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 50%;
}

.tab-close-btn.dirty {
  visibility: visible;
}

.tab-active .tab-close-btn {
  visibility: visible;
}

.tab:hover .tab-close-btn {
  visibility: visible;
}

.tab-close-btn:hover {
  background: rgba(0,0,0,0.3);
}

.tab-close-btn:focus {
  outline: none;
  box-shadow: none;
}

.new-tab-btn {
  width: calc(var(--tabs-height) * 1.5);
  height: var(--tabs-height);

  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.new-tab-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.new-tab-btn:focus {
  outline: none;
  box-shadow: none;
}

.tab-drag-over {
  border-left: 3px solid var(--accent-color);
  background-color: var(--accent-background);
  transition: border-left 0.05s, background 0.05s;
}